@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}
body {
  font-family: 'Karla', sans-serif;
  background-color: var(--green-200);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  color:var(--grey-900);
  padding: 30px 20px;
  border-radius: 5px;
  background-color: var(--white);
  width: min(500px, 90%);
  box-sizing: 6px 7px 5px 0px rgba(0, 0, 0, 0.75);
}
h1{
    font-weight: 800;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
input {
  padding: 10px 30px;
}
input,
textarea,
.radio-container {
  border: 1px solid var(--green-600);
  border-radius: 5px;
}
form div {
  display: flex;
  flex-direction: column;
}
.container h1 {
  font-weight: 400;
}
.name-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.radio-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.radio-container {
  display: flex;
  flex-direction: row;
  gap:10px;
  padding: 10px 60px;
}
.query-container {
  display: flex;
  flex-direction: column;
}
.name-container input {
  height: 20px;
}
.error-message {
  display: none;
  color: var(--red);
}
#submit-button {
  background-color: var(--green-600);
  color: var(--white);
  font-weight: 700;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .name-container{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
}
