@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}
body{
    font-family: "Karla", sans-serif;
    background-color: var(--green-200);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 30px 20px;
    border-radius: 5px;
    background-color: var(--white);
    width: min(500px,90%);
    box-sizing:  6px 7px 5px 0px rgba(0,0,0,0.75);
}
form{
    display: flex;
    flex-direction: column;
    gap:30px;
}
form div{
    display: flex;
    flex-direction: column;
}
.container h1{
    font-weight: 400;
}
.name-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.radio-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.radio-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--grey-500);
}
.name-container input{
    height: 20px;
}
.error-message{
    display: none;
    color:var(--red);
}